{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "next"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:next/recommended",
    "prettier",
    "next"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "no-empty-function": 1,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}
